<div class="footer">
  <div class="footer-links">
    <% link_to '#' do %><i class="fa fa-github"></i><% end %>
    <% link_to '#' do %><i class="fa fa-instagram"></i><% end %>
    <% link_to '#' do %><i class="fa fa-facebook"></i><% end %>
    <% link_to '#' do %><i class="fa fa-twitter"></i><% end %>
    <% link_to '#' do %><i class="fa fa-linkedin"></i><% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
