---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<div class="wrapper">
  <div class="container" id="home-flats">

    <h2 class="text-center">Recent flats</h2>
    <%= partial "layouts/cards" %>

  </div>
</div>
